[user]
    email = kristen.anthonisen@gmail.com
    name = Kristen Anthohnisen


[github]
    user = Anthonsien

[color]
    ui = true
    pager = true
    status = auto
    branch = auto
    interactive = auto

[alias]  
    pp = !git pull && git push
    pl = pull
    ps = push
    ci = commit -am  
    co = checkout  
    st = !git branch && echo "" && git status  
    br = branch
    mg = merge
    praise = blame  
    hist = log --all --pretty=format:\"%h %ad  %d %s [%an]\" --graph --date=short 
    graph = log --graph --all --decorate --oneline

[color]  
    branch = auto  

[color "status"]
    added = green
    changed = yellow
    untracked = red

[push]
	default = simple

[advice]
	statushints = false
